version: '3.8'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.app
    image: yatas_streamlit_app:latest
    ports:
      - "127.0.0.1:8501:8501"
    env_file:
      - .env
    depends_on:
      - gateway

  gateway:
    build:
      context: .
      dockerfile: Dockerfile.gateway
    image: yatas_sap_gateway:latest
    ports:
      - "5000:5000"
    env_file:
      - .env
    # Eğer canlı pyrfc entegrasyonu yapılacaksa, NW RFC SDK bind/mount gerekiyordur
    # volumes:
    #   - /path/to/nwrfcsdk:/nwrfcsdk

networks:
  default:
    driver: bridge
